#typing-indicator {
  display: none; /* TODO: Typing indicator ui */
  padding: 5px 15px;
  font-style: italic;
  color: #444;
}

#typing-indicator span {
  display: block;
  min-height: 18px;
}

.conversation-compose {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 40px;
  width: 100%;
  z-index: 2;
}

.conversation-compose div,
.conversation-compose input {
  background: #fff;
  height: 100%;
}

.conversation-compose .emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 6px 0 0 6px;
  flex: 0 0 auto;
  margin-left: 8px;
  width: 38px;
  height: 38px;
}

.conversation-compose .input-msg {
  border: 0;
  flex: 1 1 auto;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  height: 38px;
  margin: 0;
  min-width: 50px;
  outline: none;
}

.conversation-compose .photo {
  flex: 0 0 auto;
  border-radius: 0 6px 6px 0;
  text-align: center;
  width: auto;
  display: flex;
  height: 38px;
}

.conversation-compose .photo img {
  display: block;
  color: #7d8488;
  font-size: 24px;
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  margin-left: 10px;
}

.conversation-compose .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-right: 8px;
  padding: 0;
  position: relative;
  outline: none;
  margin-left: 0.5rem;
}

.conversation-compose .send .circle {
  background: #FF6C02;
  border-radius: 50%;
  color: #fff;
  position: relative;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversation-compose .send .circle i {
  font-size: 24px;
  margin-left: 1px;
}
