body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Open Sans, sans serif;
}


#warn-device {
  background-color: rgb(82 81 153 / 45%);
  color: white;
  font-family: INGMeWeb-Regular,Arial,sans-serif;
  font-size: 36px;
  padding: 1rem;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.popup {
  position: absolute;
  border-radius: 5px;
  background: #F5F5F8;
  z-index: 3;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-align: center;
  display: none;
}

.popup h3 {
  font-size: 16px;
  margin: 0 0 20px 0;
  font-weight: bold;
  width: 100%;
  height: 30px;
  background: #333;
  color: white;
  padding: 6px 10px;
}

#create-channel, #update-channel {
  top: calc(50% - 100px);
  left: calc(50% - 160px);
  width: 300px;
  height: 220px;
}

#invite-member {
  top: calc(50% - 48px);
  left: calc(50% - 130px);
  width: 260px;
  height: 96px;
}

#add-member {
  top: calc(50% - 48px);
  left: calc(50% - 130px);
  width: 260px;
  height: 96px;
}

#create-channel input, #update-channel input {
  display: block;
  margin: 5px auto;
  width: 250px;
}

#update-channel input[disabled='true'] {
  background: #DDD;
}

#create-channel input[type='checkbox'], #update-channel input[type='checkbox'] {
  width: auto;
  margin: 10px;
  display: inline;
}

#create-channel label, #update-channel label {
  display: inline;
}

#create-channel button, #update-channel button {
  display: block;
  width: 90%;
  margin: 10px auto 5px auto;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

#sidebar {
  background: #222;
  bottom: 0;
  color: white;
  font-family: "Roboto", sans-serif;
  left: 0;
  overflow-y: auto;
  padding-bottom: 80px;
  position: absolute;
  top: 0;
  width: 250px;
}

#profile {
  width: 250px;
  padding: 10px;
  height: 60px;
  line-height: 40px;
  background-color: #333;
  position: fixed;
  border-bottom: 2px solid #666;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  border: solid 2px white;
  margin-right: 10px;
}

#profile > img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid white;
}

#profile > label {
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-size: 1.2em;
  margin-left: 6px;
}

#profile > #presence {
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  border-radius: 20px;
  top: 20px;
  right: 15px;
}

#profile > #presence.connected { background: green; }
#profile > #presence.disconnected { background: gray; }
#profile > #presence.connecting { background: yellow; }
#profile > #presence.denied { background: red; }

#channels {
  font-family: INGMeWeb-Regular, Arial, sans-serif;
  margin-top: 80px;
}

#sidebar h3 {
  margin-left: 20px;
}

#sidebar ul {
  list-style-type: none;
  padding: 0 10px;
}

#sidebar li {
  margin: 5px 0;
  cursor: pointer;
  padding: 5px 5px 5px 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#sidebar li span {
  color: #555;
}

#sidebar li span.joined {
  color: white;
}

#sidebar li.new-messages span {
  font-weight: bold;
}

#sidebar li span.invited {
  font-style: italic;
  color: white;
}

#sidebar li.new-messages span.messages-count {
  background: #f5e9a5;
  padding: 2px;
  border-radius: 4px;
  font-size: 8pt;
  margin-left: 4px;
}


#sidebar li div {
  display: none;
}

#sidebar-footer {
  background-color: white;
  bottom: 0;
  height: 80px;
  padding: 20px 0;
  position: fixed;
  text-align: right;
  width: 100%;
}

#create-channel-button {
  background-color: transparent;
  border: none;
  margin: 0;
}

#create-channel-button .circle {
  background: #FF6C02;
  border-radius: 50%;
  color: #fff;
  position: relative;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#create-channel-button .circle i {
  font-size: 24px;
  margin-left: 1px;
}

#channel, #no-channel {
  position: absolute;
  top: 0;
  left: 250px;
  bottom: 0;
  right: 0;
  background: #FAFAFF;
}

#channel {
  display: none;
}

#channel.view-only div.edit-button,
#channel.view-only div.remove-button,
#channel.view-only #channel-info button,
#channel.view-only #channel-members,
#channel.view-only #channel-message-send,
#channel.view-only #typing-indicator {
  display: none;
}

#channel.view-only #channel-chat {
  right: 0;
}

#channel.view-only #channel-join-panel {
  display: block;
}

#no-channel p {
  padding: 50px;
  font-size: 2em;
  color: #555;
}

#channel-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 5px 10px;
  background: #FFF;
  border-bottom: 2px solid #666;
}

#channel-info h1 {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

div.remove-button {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 4px;
  cursor: pointer;
  display: inline-block;
  float: right;
}

div.edit-button {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 4px;
  cursor: pointer;
}

#channel-info h2 {
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
  color: #444;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.white-button {
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  background-color: #E3E3E3;
}

.white-button:hover {
  background-color: #B3B3B3;
}

#edit-channel {
  position: absolute;
  right: 170px;
  top: 10px;
  padding: 10px;
  line-height: 20px;
  font-size: 16px;
}

#delete-channel {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  line-height: 20px;
  font-size: 16px;
}

#channel-body {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}

#channel-chat {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 200px;
  overflow: hidden;
}


.conversation {
  position: relative;
  background: #EEE3DB;
  z-index: 0;
}

.conversation ::-webkit-scrollbar {
  transition: all .5s;
  width: 5px;
  height: 1px;
  z-index: 10;
}

.conversation ::-webkit-scrollbar-track {
  background: transparent;
}

.conversation ::-webkit-scrollbar-thumb {
  background: #b3ada7;
}

#channel-join-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  font-size: 20px;
  border-top: 1px solid #AAA;
  background: #F5F5F8;
  padding: 10px;
  text-align: center;
}

#channel-join-panel button {
  margin: 0 auto;
  padding: 5px 10px;
}

#channel-members {
  position: absolute;
  right: 0;
  top: 60px;
  bottom: 0;
  width: 200px;
  border-left: 2px solid #667;
  background-color: #333;
  color: white;
}

#channel-members h3 {
  margin: 5px;
  padding: 10px;
}

#channel-members button {
  width: 80px;
  margin-left: 10px;
  display: inline-block;
}

#channel-members ul {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0 10px;
}

#channel-members li {
  margin: 5px 0;
  cursor: pointer;
  padding: 5px 5px 5px 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#channel-members li img {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid black;
  margin-right: 5px;
}

#channel-members li div {
  display: none;
}

#channel-members li:hover {
  background: #E30000;
  border-radius: 5px;
}

#channel-members li:hover div {
  display: block;
}

#channel-members li span {
  display: inline-block;
  width: 110px;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#channel-members .member-online {
  font-weight: bold;
}

#channel-members .member-offline {
  color: gray;
}

.loader {
    -webkit-filter: grayscale(100%) blur(2px);
   -moz-filter: grayscale(100%) blur(2px);
     -o-filter: grayscale(100%) blur(2px);
    -ms-filter: grayscale(100%) blur(2px);
        filter: grayscale(100%) blur(2px);
}

.is-client #no-channel,
.is-client #channel-members,
.is-client #edit-channel,
.is-client #delete-channel {
  display: none;
}

.is-client #sidebar,
.is-client #sidebar #profile,
.is-client #channel-chat {
  width: 100%;
}

.is-client #channel {
  left: 0;
}

#back-channel {
  display: none;
  margin-right: 20px;
}

.is-client #back-channel,
.is-client #channel-title {
  display: inline-block;
}

