#login {
  top: calc(50% - 60px);
  left: calc(50% - 200px);
  width: 400px;
  height: 160px;
  display: block;
  text-align: center;
}

#login p {
  margin: 10px auto;
}

#login div {
  margin: 0 auto;
}

#login button {
  float: right;
  width: 130px;
  margin-right: 14px;
}

#login input {
  width: calc(100% - 170px);
  margin-left: 14px;
}