#login.login-client {
  background-color: #e64c08;
  display: block;
  height: 100%;
  left: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

#login.login-client #logo-container {
  width: 52%;
  margin-top: 34%;
}

#login.login-client #logo-container img {
  display: block; /* remove extra space below image */
  max-height: 100%;
  max-width: 100%;
}

#login.login-client p {
  margin: 10px auto;
}

#login.login-client div {
  margin: 0 auto;
}

#login.login-client button {
  float: right;
  width: 130px;
  margin-right: 14px;
  display: none;
}

#login.login-client input#login-name {
  width: calc(100% - 170px);
  margin-left: 14px;
  display: none;
}

#login.login-client input#login-pass {
  background-color: #e64c08;
  border-bottom-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-top-style: hidden;
  color: white;
  font-size: 24px;
  letter-spacing: 24px;
  text-align: center;
}

#login.login-client input#login-pass::placeholder {
  color: white;
}

#login.login-client input#login-pass:focus {
  background-color: #e64c08;
  border-bottom-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-top-style: hidden;
  color: white;
  font-size: 24px;
  letter-spacing: 24px;
  outline: none;
  text-align: center;
}
