#channel-messages .message {
    color: #000;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    position: relative;
    margin: 8px 0;  
    max-width: 85%;
    word-wrap: break-word;
    /* z-index: -1; */
  }

  #channel-messages .message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
  }

  #channel-messages .message:first-child {
    margin: 16px 0 8px;
  }

  #channel-messages .message.received {
    background: #FF6C02;
    border-radius: 0px 5px 5px 5px;
    color: #FFF;
    float: left;
  }

  #channel-messages .message.received button {
    color: black;
    width: 100%;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #FF6C02;
  }

  .message.received:after {
    border-width: 0px 10px 10px 0;
    border-color: transparent #FF6C02 transparent transparent;
    top: 0;
    left: -10px;
  }

  #channel-messages .message.sent {
    background: #FFF;
    border-radius: 5px 0px 5px 5px;
    float: right;
  }

  .message.sent:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #FFF;
    top: 0;
    right: -10px;
  }
  
  #channel-messages .message > img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
  }

  #channel-messages .message .metadata {
    display: inline-block;
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
  }
  
  #channel-messages .message .metadata .time {
    color: rgba(0, 0, 0, .45);
    font-size: 11px;
    display: inline-block;
  }

   #channel-messages .message  .metadata .tick {
    display: inline-block;
    margin-left: 2px;
    position: relative;
    top: 4px;
    height: 16px;
    width: 16px;
  }
  
   #channel-messages .message  .metadata .tick svg {
    position: absolute;
    transition: .5s ease-in-out;
  }
  
   #channel-messages .message  .metadata .tick svg:first-child {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: perspective(800px) rotateY(180deg);
            transform: perspective(800px) rotateY(180deg);
  }
  
   #channel-messages .message  .metadata .tick svg:last-child {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: perspective(800px) rotateY(0deg);
            transform: perspective(800px) rotateY(0deg);
  }
  
   #channel-messages .message  .metadata .tick-animation svg:first-child {
    -webkit-transform: perspective(800px) rotateY(0);
            transform: perspective(800px) rotateY(0);
  }
  
   #channel-messages .message  .metadata .tick-animation svg:last-child {
    -webkit-transform: perspective(800px) rotateY(-179.9deg);
            transform: perspective(800px) rotateY(-179.9deg);
  }


.red-button {
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    background-color: #E30000;
  }
  
  .red-button:hover {
    background-color: #B30000;
  }